<div class="main">
    <div class="chat">
        <div class="chat-container">
            <% unless @messages.blank? %>
                <% @messages.each do |message| %>
                    <div class="message-container" data-message-id=<%= message.id %>>
                        <div class="message-block">
                            <p class="message-info">
                                <%= message.user.name %>
                                <span class="time">
                                    <%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
                                </span>
                            </p>
                            <p class="message-content">
                                <%= message.content %>
                            </p>
                        </div>
                        <% if current_user.id == message.user_id %>
                            <div class="message-btn">
                                <ul>
                                    <li>
                                        <%= link_to "編集", messages_edit_path(message.id) %>
                                    </li>
                                    <li>
                                        <a href="#" class="delete-btn" data-id=<%= message.id %>>削除</a>
                                        <%= form_for(message, url: messages_delete_path(message.id), method: :delete, 
                                            html: { id: "form_#{message.id}", class: "delete-form" }) do |f| %>
                                            <%= f.submit "delete" %>
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% else %>
                <div class="message-container">
                    <p>No message yet.</p>
                </div>
            <% end %>
        </div>
    </div>

    <div class="chat-form">
        <%= form_with model: @message, url: messages_create_path, id: "new_message" do |f| %>
            <%= f.text_field :content, id: "chat-form" %>
            <%= f.submit "SEND" %>
        <% end %>
    </div>
</div>

<%# <div id="counter"></div> %>